In [1]:
!export AWS_ACCESS_KEY_ID="ASIAYAAO5HRMPZ632ICR"
!export AWS_SECRET_ACCESS_KEY="W5F8fsHzCnX+5j7jHhuBkWYx46elpkbaSNi1IpIF"
!export AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEDQaCXVzLWVhc3QtMiJIMEYCIQDrTeUuPHJdKv8Hn9X4hmwIJ1TOrtIZeDx0QEaJh6OROgIhALYFRQUsBvU1+5qQfVSi+3NBwClL8tepwSEe1A1jiGPsKvQCCN3//////////wEQABoMNTQ5Nzg3MDkwMDA4Igx2HeVDIlFLre2+XK4qyAIXq3fGPGvpVKgpgATvr3mgwrIrFcoS67KpARqKJqXx30dHKCANNgS3Agzgm8/YxUWbIVv/WF+mhWG4g6wzoItSHI1bX6DMn6nJK2257B3icABtT+OPBQ/kcuKp0om/Cfl9er4/gh/pAH8RLLuWvMvpC1vQMrvg0VAfff4m12EnGuvUxjU2/nnxcq/LilMByUVa5n366N9oWxdSJH3TbRrxNEsgt6eib5tak+4I0ldmov2/DrHg72hUcqLq47bB9ra1kWHBmI9QVaXA2POGaMOHKqxz+/h49oZMzABXCc2wJu2+VpQ8c1kyhxsKGUlVvm3nk9VuuZcarjP+Gw2llpf1H2vt3kRYHmm9VrdwnV9GsWLY3rAvSX1vd4ZBmm7bohAeiiE6RYJJbAWY5jJEv7jwWeVtcEt/6fbqKD+Rh3Ei1AssqIxI6YN2MOCwicEGOqYBNOGwImgvIr3Jaq95SJ/mjpJCLQ8ylxSI4q7jTLTNnMW7SXya2xFCwOv4PBweIPGLbCLUF7cvyCw7fpLc8dNlHZ6qE2ZZBp2GLV2YrgUjWWIoHnT+ZW2r/yUGH8WP33hQewTrqMczxczSwGG7ifZmdElocLGYzSxfPgd7Jh3C7boWIY874ITtG6bW2vseMPIyhK3GrfsQ7YEZBpI1bTGGfXZDCxO+HA=="

In [2]:
from cassandra import ConsistencyLevel

In [3]:
!find /home -name 'sf-class2-root.crt'

/home/ubuntu/my_project/sf-class2-root.crt
/home/ubuntu/sf-class2-root.crt

In [9]:
import os
import boto3
from cassandra.cluster import Cluster
from cassandra_sigv4.auth import SigV4AuthProvider
from ssl import SSLContext, PROTOCOL_TLSv1_2, CERT_REQUIRED

# Set credentials directly in Python (this avoids shell export issues)
os.environ['AWS_ACCESS_KEY_ID'] = "ASIAYAAO5HRMCNJEYO7L"
os.environ['AWS_SECRET_ACCESS_KEY'] = "Np33DztGrIxaiqHVQ1EGBA6cEvSsdPAF0sNeffiR"
os.environ['AWS_SESSION_TOKEN'] = "IQoJb3JpZ2luX2VjEDwaCXVzLWVhc3QtMiJHMEUCIEZasww5JE5nVJDAnDJLRMGHw5o3PH2msAcOhVmthVgPAiEAtwjmqSNDxd2z+5SPntxHejS4GyK5TeumddGkvjrF/6wq9AII5f//////////ARAAGgw1NDk3ODcwOTAwMDgiDCmI0pA3/vkvDfAWFSrIAjRGBEXeGFdtA+U8QphgWomWEArdzCLwXeP2kAcuxUpEmpVDdss8vQvzIKMAtQ92I0kPuhNFgLOUxr/JX/bsbke6YS3ZaRcUWDURevdGUMOUm8SXW2RmJsmrc2UxNZNd8n7I/1MoKbsxDidEzpEpd5rM9kka4NrvtBuX7DZb+mHn2hzvfRU4VQJPk+PIFi5sGssRLxZTap1KeHcf7wBsVNpdBh89rlY7kwwt43lYughATocVsrdgQnmxdd9bOG+g4brxdmcKE0kHfQqDJnoM+gFSlSMD9l6GozrPYddT3yWGOo7jf29CjHlSkyh2QDGTBBK9HEnXhp6PE1TrEs5Yvlk7Vh6fjFrVetqUCNRIP1wxWHbi/wf3gzT7WPAstgh+/rP5ARTIokFwI5/tuVAODQDOdSR//2rXilDrv6wI7QN51P61L5crpEsw5YeLwQY6pwG5dTusbnbbpIuSxFpdsagP3rS06dLUjVjmLf9zQWFPmClR38OtY/6/TJjvWbnqggXSwWEpx+PceeKSa3cBq9Cx/Gd6BLWVHluGdZ5E9ABe9sMB2VNfuU1U1kp2iqqJUY6Ly/3xFEPBACg6klFzt8QBYt0vK8lSPxYWRGIHKlgoG4R4XbXiKjGzRT4phQqW2yj1BGgYIgZHgjpGm+c1dzNq9yjRZE+6VA=="

# SSL setup
ssl_context = SSLContext(PROTOCOL_TLSv1_2)
ssl_context.load_verify_locations('/home/ubuntu/my_project/sf-class2-root.crt')
ssl_context.verify_mode = CERT_REQUIRED

# boto3 session
boto_session = boto3.Session(region_name="us-east-2")

# Cassandra connection
auth_provider = SigV4AuthProvider(boto_session)
cluster = Cluster(['cassandra.us-east-2.amazonaws.com'], port=9142,
                  ssl_context=ssl_context, auth_provider=auth_provider)

session = cluster.connect()
print("✅ Connected to Amazon Keyspaces")

/tmp/ipykernel_3200/3945652125.py:13: DeprecationWarning: ssl.PROTOCOL_TLSv1_2 is deprecated
  ssl_context = SSLContext(PROTOCOL_TLSv1_2)

✅ Connected to Amazon Keyspaces

In [10]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS de300
    WITH replication = {
        'class': 'SimpleStrategy',
        'replication_factor': 1
    }
""")

In [11]:
session.execute("""
    CREATE TABLE IF NOT EXISTS de300.drug_usage_by_ethnicity (
        ethnicity text,
        drug text,
        total_dosage double,
        PRIMARY KEY ((ethnicity), drug))
""")

In [12]:
import pandas as pd

prescriptions = pd.read_csv("PRESCRIPTIONS.csv")
admissions = pd.read_csv("ADMISSIONS.csv")
prescriptions['dose_val_rx'] = pd.to_numeric(prescriptions['dose_val_rx'], errors='coerce')
merged = prescriptions.merge(admissions[['subject_id', 'ethnicity']], on='subject_id')
summary = merged.groupby(['ethnicity', 'drug'])['dose_val_rx'].sum().reset_index()
summary.rename(columns={'dose_val_rx': 'total_dosage'}, inplace=True)
summary.head()

,ethnicity,drug,total_dosage
0,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...,0.9% Sodium Chloride,27202.0
1,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...,0.9% Sodium Chloride (Mini Bag Plus),400.0
2,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...,5% Dextrose,33800.0
3,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...,AMP,8.0
4,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...,Acetaminophen,6500.0

In [13]:
session.set_keyspace('de300')

session.execute("""
CREATE TABLE IF NOT EXISTS drug_usage_by_ethnicity (
    ethnicity text,
    drug text,
    total_dosage double,
    PRIMARY KEY ((ethnicity), drug)
)
""")

In [14]:
print(summary.head())
print(summary.dtypes)

                                           ethnicity  \
0  AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...
1  AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...
2  AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...
3  AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...
4  AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...

                                   drug  total_dosage
0                  0.9% Sodium Chloride       27202.0
1  0.9% Sodium Chloride (Mini Bag Plus)         400.0
2                           5% Dextrose       33800.0
3                                   AMP           8.0
4                         Acetaminophen        6500.0
ethnicity        object
drug             object
total_dosage    float64
dtype: object

In [15]:
from cassandra import ConsistencyLevel

insert_query = session.prepare("""
    INSERT INTO drug_usage_by_ethnicity (ethnicity, drug, total_dosage)
    VALUES (?, ?, ?)
""")

for _, row in summary.iterrows():
    bound = insert_query.bind((row['ethnicity'], row['drug'], float(row['total_dosage'])))
    bound.consistency_level = ConsistencyLevel.LOCAL_QUORUM
    session.execute(bound)

In [16]:
rows = session.execute("SELECT * FROM drug_usage_by_ethnicity")
results = pd.DataFrame(rows.all())
results

               ethnicity                       drug  total_dosage
0                  OTHER       0.9% Sodium Chloride        2000.0
1                  OTHER                5% Dextrose        1200.0
2                  OTHER              Acetaminophen         650.0
3                  OTHER                  Adenosine           6.0
4                  OTHER  Albuterol 0.083% Neb Soln           1.0
...                  ...                        ...           ...
1255  HISPANIC OR LATINO            Succinylcholine         100.0
1256  HISPANIC OR LATINO                 Sucralfate           3.0
1257  HISPANIC OR LATINO                 Vancomycin        3000.0
1258  HISPANIC OR LATINO                       Vial           3.0
1259  HISPANIC OR LATINO                  traZODONE          50.0

[1260 rows x 3 columns]

In [17]:
top_by_ethnicity = results.loc[results.groupby('ethnicity')['total_dosage'].idxmax()]
top_by_ethnicity = top_by_ethnicity.reset_index(drop=True)
top_by_ethnicity

,ethnicity,drug,total_dosage
0,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGN...,5% Dextrose,33800.0
1,ASIAN,Heparin,15000.0
2,BLACK/AFRICAN AMERICAN,Heparin Sodium,150000.0
3,HISPANIC OR LATINO,5% Dextrose,19950.0
4,HISPANIC/LATINO - PUERTO RICAN,0.9% Sodium Chloride,654945.0
5,OTHER,Esmolol,5000.0
6,UNABLE TO OBTAIN,0.9% Sodium Chloride,14800.0
7,UNKNOWN/NOT SPECIFIED,Epoetin Alfa,80000.0
8,WHITE,Heparin,558600.0

In [18]:
#Question 2

In [19]:
session.execute("""
CREATE TABLE IF NOT EXISTS de300.patient_age_info (
    subject_id text,
    dob date,
    admittime timestamp,
    age int,
    age_group text,
    PRIMARY KEY (subject_id)
);
""")

In [25]:
import pandas as pd

patients = pd.read_csv('PATIENTS.csv')
admissions = pd.read_csv('ADMISSIONS.csv')
procedures_icd = pd.read_csv('PROCEDURES_ICD.csv')
d_icd_procedures = pd.read_csv('D_ICD_PROCEDURES.csv')

result = pd.read_csv('result.csv')
result['dob'] = pd.to_datetime(result['dob'])
result['admittime'] = pd.to_datetime(result['admittime'])

In [30]:
def assign_age_group(age):
    if age <= 19:
        return '<=19'
    elif age <= 49:
        return '20–49'
    elif age <= 79:
        return '50–79'
    else:
        return '>80'

result['age_group'] = result['age'].apply(assign_age_group)

In [35]:
insert_query = session.prepare("""
    INSERT INTO de300.patient_age_info (subject_id, dob, admittime, age, age_group)
    VALUES (?, ?, ?, ?, ?)
""")

In [38]:
result['dob'] = pd.to_datetime(result['dob'])
result['admittime'] = pd.to_datetime(result['admittime'])
result['age'] = ((result['admittime'] - result['dob']).dt.days / 365.25).astype(int)

In [39]:
from cassandra import ConsistencyLevel

for _, row in result.iterrows():
    bound = insert_query.bind((
        str(row['subject_id']),
        row['dob'].date(),
        row['admittime'].to_pydatetime(),
        int(row['age']),
        row['age_group']
    ))
    bound.consistency_level = ConsistencyLevel.LOCAL_QUORUM
    session.execute(bound)

In [40]:
rows = session.execute("SELECT * FROM de300.patient_age_info LIMIT 5;")
for row in rows:
    print(row)

Row(subject_id='10089', admittime=datetime.datetime(2132, 8, 5, 18, 48), age=86, age_group='>80', dob=Date(27866))
Row(subject_id='42412', admittime=datetime.datetime(2165, 12, 19, 12, 19), age=86, age_group='>80', dob=Date(39840))
Row(subject_id='10042', admittime=datetime.datetime(2147, 2, 6, 12, 38), age=70, age_group='50–79', dob=Date(38842))
Row(subject_id='41976', admittime=datetime.datetime(2202, 10, 3, 1, 45), age=66, age_group='50–79', dob=Date(60839))
Row(subject_id='42275', admittime=datetime.datetime(2135, 10, 24, 20, 28), age=77, age_group='50–79', dob=Date(32357))

In [41]:
rows = session.execute("SELECT subject_id, age_group FROM de300.patient_age_info;")
patient_df = pd.DataFrame(rows)

In [43]:
procedures_icd['subject_id'] = procedures_icd['subject_id'].astype(str)
patient_df['subject_id'] = patient_df['subject_id'].astype(str)
merged = procedures_icd.merge(patient_df, on='subject_id', how='inner')
full = merged.merge(d_icd_procedures[['icd9_code', 'long_title']], on='icd9_code', how='left')
grouped = full.groupby(['age_group', 'long_title']).size().reset_index(name='count')
grouped['rank'] = grouped.groupby('age_group')['count'].rank(method='first', ascending=False)
top3 = grouped[grouped['rank'] <= 3].drop(columns='rank')
print(top3.sort_values(['age_group', 'count'], ascending=[True, False]))

    age_group                                         long_title  count
47      20–49   Venous catheterization, not elsewhere classified      9
14      20–49  Enteral infusion of concentrated nutritional s...      7
11      20–49  Continuous invasive mechanical ventilation for...      6
146     50–79   Venous catheterization, not elsewhere classified     25
77      50–79  Enteral infusion of concentrated nutritional s...     22
143     50–79                        Transfusion of packed cells     13
165      <=19   Venous catheterization, not elsewhere classified      2
147      <=19      Application of external fixator device, femur      1
148      <=19                           Atlas-axis spinal fusion      1
234       >80   Venous catheterization, not elsewhere classified     16
231       >80                        Transfusion of packed cells     13
199       >80                     Insertion of endotracheal tube      8

In [ ]:
# Question 3

In [44]:
session.execute("""
CREATE TABLE IF NOT EXISTS de300.icu_stay_info (
    subject_id text,
    gender text,
    ethnicity text,
    los float,
    PRIMARY KEY (subject_id)
);
""")

In [45]:
import pandas as pd

icustays = pd.read_csv('ICUSTAYS.csv')
patients = pd.read_csv('PATIENTS.csv')
admissions = pd.read_csv('ADMISSIONS.csv')

In [46]:
icu = icustays.merge(patients[['subject_id', 'gender']], on='subject_id')
icu = icu.merge(admissions[['subject_id', 'ethnicity']], on='subject_id')
icu = icu[['subject_id', 'gender', 'ethnicity', 'los']]
icu['subject_id'] = icu['subject_id'].astype(str)

In [47]:
from cassandra import ConsistencyLevel

insert_query = session.prepare("""
    INSERT INTO de300.icu_stay_info (subject_id, gender, ethnicity, los)
    VALUES (?, ?, ?, ?)
""")

for _, row in icu.iterrows():
    bound = insert_query.bind((
        row['subject_id'],
        row['gender'],
        row['ethnicity'],
        float(row['los'])
    ))
    bound.consistency_level = ConsistencyLevel.LOCAL_QUORUM
    session.execute(bound)

In [50]:
rows = session.execute("SELECT subject_id, gender, ethnicity, los FROM de300.icu_stay_info;")
icu_df = pd.DataFrame(rows)
icu_df.groupby('gender')['los'].mean()
icu_df.groupby('ethnicity')['los'].mean().sort_values(ascending=False)

ethnicity
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE    21.413601
UNABLE TO OBTAIN                                            13.357000
HISPANIC OR LATINO                                           9.301450
BLACK/AFRICAN AMERICAN                                       8.272550
UNKNOWN/NOT SPECIFIED                                        5.239190
WHITE                                                        4.200696
ASIAN                                                        3.890050
HISPANIC/LATINO - PUERTO RICAN                               1.639700
OTHER                                                        0.926067
Name: los, dtype: float64

In [51]:
print("ICU LOS by gender:\n", icu_df.groupby('gender')['los'].mean())
print("\nICU LOS by ethnicity:\n", icu_df.groupby('ethnicity')['los'].mean().sort_values(ascending=False))

ICU LOS by gender:
 gender
F    5.979478
M    3.323976
Name: los, dtype: float64

ICU LOS by ethnicity:
 ethnicity
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE    21.413601
UNABLE TO OBTAIN                                            13.357000
HISPANIC OR LATINO                                           9.301450
BLACK/AFRICAN AMERICAN                                       8.272550
UNKNOWN/NOT SPECIFIED                                        5.239190
WHITE                                                        4.200696
ASIAN                                                        3.890050
HISPANIC/LATINO - PUERTO RICAN                               1.639700
OTHER                                                        0.926067
Name: los, dtype: float64